<% layout("/layout/boilerplate.ejs") -%>
<h2 class="text-center mt-5">Booking Confirmed</h2>
<p class="text-center">Thank you! Your booking was successful.</p>
<a href="/" class="btn btn-primary d-block mx-auto w-25">Back to Home</a>